p, h1, a, h2, h3{
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.Header{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 65px;
    width: 100%;

    background-color: #121212;

}



.Container_Nav{
    display: flex;
    justify-content: space-between; /*Fazer o HOME, PROJECTS E CONTATO ficarem betwenn da Rede Social*/
    align-items: center;

    height: 90%;
    width: 80%;
}

#Icone_ClickBurguer{
     /*Esse Icone que ativa o Menu Hamburguer fica none até o layout max-width de 560px, após isso ele fica com o display Flex para que o Icone fica Visivel*/
    display: none;
    color: white;
}

/*#Icone_ClickBurguer:active{
    color: #8F8CE7;
}*/



.Container_Nav ul{
    display: flex; /*Para os LI Home, projects e contato (UL)*/
    /*O NAV_UL fica none quando o DISPLAY do #Icone_ClickBurguer ficar Flex*/
    align-items: center;

    list-style: none;

    height: 90%;
    width: auto; 
    /*Se eu limitar a largura em 30%, ao abrir meu site em resoluções menores esses 30% podem ser muito pequeno, fazendo com que eu
    aumentasse no @media, então vou deixar ele no AUTO e vou aplicar a margin-left entre os LI, sendo assim não necessário limitar
    o widht e nem usar o space-around ou evely*/
}


.Container_Nav ul p{ /*Configuração da FONTE do P, que está dentro do LI*/
    color: #FDFDFE; /*#D8DCD6*/ 
    font-size: 14px;
    font-weight: bold;
}


.Container_Nav ul p:hover{
    color: #D8DCD6;
}

.Container_Nav li:not(:first-child) { /*Aplicando o Margin Left aqui pois não quero que ele seja aplicado no primeiro p*/
    margin-left: 65px;
}

.Rede_Social{
    display: flex; /*Logo e escrita ficarem alinhados e um do lado do outro*/
    align-items: center;

    height: 90%;
    width: auto; /*Msm motivo do WIDTH do Container_NAV UL*/
}

.Rede_Social P{
    color: #FDFDFE;
    font-weight: bold;
    font-size: 14px;
    margin-top: 13px;
    margin-left: 5px;
}

.Rede_Social p:hover{
    color: #D8DCD6  ;
}



/**/



/*Menu Hamburguer*/
.Container_Hamburguer{ /*Container que vai ficar Invisível, serve apenas para Posicionar o Menu Hamburguer que vai estar com a Position Absolute*/
    display: flex;
    justify-content: flex-start;
    position: absolute; 
    /*OBS: Container e o Header_Hamburguer devem estar com o Position Absolute para poderem sobrepor o restante do site
    se não usar essa propriedade o site vai ser arrastado para baixo, fazendo uma "buraco"*/


    height: 90vh;
    width: 100%;
}

.Header_Hamburguer{
    display: none; /*Para ele não aparecer quando der f5 na página*/ 
    /*Deixei o Flex no @MEDIA para poder usar o Justify e Aling*/

    /*justify-content: center;
    align-items: center;
    Não adianta usar, ele funciona da primeira caso eu deixei o Display flex no Media Screnn, mas quando ativado o JavaScript ele fica 
    block ou none, e ambos anulam o Justify e Align.. Para resolver eu vou deixar o UL COM 100% de largura 
    */ 

    height: 100%;
    width: 55%;

    position: absolute;/**/ 

    background-color: #121212;
}

/*Estilizando o NAV dentro do Header_Hamburguer*/

.Header_Hamburguer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;  

    list-style: none;
    height: 40%;
    width: 100%;
}

.Header_Hamburguer ul p{
    color: #D8DCD6;
    font-size: 20px;
}

.Header_Hamburguer ul p:hover{
    color: #8F8CE7;
    font-size: 21px;
    font-weight: bold;
}



/**/


