/*Menu H a m b u r g u e r*/

/*Meno que 560px de largura eu vou transformar o Header "normal" para um Header Hamburguer que vai ser puxado Pelo JavaScript*/
@media (max-width: 560px) {

    .Container_Nav ul{ /*Home, Projects e Contato, vou deixar none pois essa NAV eu irei colocar dentro do Menu Hamburguer*/
        display: none; /*Antes estava flex*/
    }

    #Icone_ClickBurguer{ /*Flex para o Icone ficar visivel e poder ativar o Header_Hamburguer*/
        display: flex; /*Antes estava none*/
    }

    
}

/*Apenas ajustando quanto o Menu Hamburguer deve ocupar nos dispositivos menores*/

@media (max-width: 460px) { /*cobrindo 65%*/
    .Header_Hamburguer{
        width: 65%;
    }
}

@media (max-width: 395px) { /*Header Hamburguer vai cobrir 100%*/
    .Header_Hamburguer{
        width: 100%;
    }
}